auto-install-peers=false
enable-pre-post-scripts=true
link-workspace-packages=true
shamefully-hoist=true
shell-emulator=true
strict-peer-dependencies=false
package-manager-strict=false

# docker run -itd --rm --name verdaccio -p 4873:4873 verdaccio/verdaccio
# npm adduser --registry http://localhost:4873
# registry=http://localhost:4873
